  
body{
  font-family: 'Work Sans', sans-serif;
  background-image: url("mass.jpeg");
  background-color: #040404;
  background-size: cover;
}

header {
  position: relative;
  background:url('img/mass.jpg') cover;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('img/mass.jpg') no-repeat center;
  }
  header video {
    display: none;
  }
}

. img{

  padding-top: 4% ;
  padding-bottom: 4% ;

}




/*
 * Navigation
 */



#mainNav {
  min-height: 56px;
  background-color: #fff;

}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}


/*
 * Text Animation
 */


.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 160px;
   overflow: hidden;
   font-family: 'Work Sans', sans-serif;
   font-size: 35px;
   line-height: 40px;
   color: #FDFFFF;
}
 .content__container {
   font-weight: 600;
   overflow: hidden;
   height: 40px;
   padding: 0 40px;
}
 .content__container:before {
   content: '[';
   left: 0;
}
 .content__container:after {
   content: ']';
   position: absolute;
   right: 0;
}
 .content__container:after, .content__container:before {
   position: absolute;
   top: 0;
   color: #16a085;
   font-size: 42px;
   line-height: 40px;
   -webkit-animation-name: opacity;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   animation-name: opacity;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}
 .content__container__text {
   display: inline;
   float: left;
   margin: 0;
}
 .content__container__list {
   margin-top: 0;
   padding-left: 110px;
   text-align: left;
   list-style: none;
   -webkit-animation-name: change;
   -webkit-animation-duration: 10s;
   -webkit-animation-iteration-count: infinite;
   animation-name: change;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}
 .content__container__list__item {
   line-height: 40px;
   margin: 0;
}
 @-webkit-keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @-webkit-keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 @-o-keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @-o-keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 @-moz-keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @-moz-keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 @keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 

/*
 * About tab
 */

.description{

  background-color:white;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 160%;
}

/*
 *Footer
 */


.footer-top{
  background-color:Black;
    text-align: center;
}

.footer-top .social-icons{
   padding:50px 0px;
}

.footer-top .social-icons i{
  padding:0px 20px;
  font-size:20px;
  color: rgb(255, 255, 255);
}

.footer-top .social-icons i:hover{
  color:#2be6ab;

